
li {
	background-color: #CCCCCC;
	border: 1px solid #B8B8B8;
    color: #FDFDFD;
    font-family: Calibri;
    height: 1rem;
    list-style: none;
    padding: .25rem;
    width: 10rem;
}

li:hover {
	background-color: #B8B8B8;
	color: #909090;
}

/* first submenu */
ul li ul {
    left: 7.8rem;
    position: relative;
    top: -1.5rem;
    visibility: hidden;
}

ul li:hover > ul {
    visibility: visible;
}

/* second submenu */
ul li ul li ul {
	visibility: hidden;
}

ul li ul li:hover ul {
	visibility: visible;
}